## Python Crash Course

### - Machine Learning전, Python 기본기 연습

## part1

In [1]:
type(1)

int

In [2]:
type(1.0)

float

In [3]:
1+2

3

In [4]:
2*3

6

In [5]:
1/2

0.5

In [8]:
4 % 2  # 4를 2로 나눈 뒤 나머지는 0

0

In [9]:
5 % 2  # 5를 2로 나눈뒤 나머지는 1

1

In [10]:
'string'

'string'

In [11]:
"double"

'double'

In [13]:
print('My name is {}, My number is {}'.format('Francis', '101010'))

My name is Francis, My number is 101010

In [15]:
print('first: {x}, Second: {y}'.format(x='XXX', y="YYYY"))  # 빈칸에 변수를 넣을 경우, format이후 순서에 상관없이 변수에 데이터 입력 가능

first: XXX, Second: YYYY

In [16]:
mylist = ['a', 'b', 'c']

In [17]:
mylist[0]

'a'

In [18]:
mylist.append('d')

In [19]:
mylist

['a', 'b', 'c', 'd']

In [20]:
mylist.append([100,200])  # 중복된 리스트

In [21]:
mylist

['a', 'b', 'c', 'd', [100, 200]]

In [23]:
mylist[-1][1]  # 중보된 리스트의 특정값도, 인덱싱으로 불러올 수 있음

200

In [25]:
dic = {'key1':'value1', 'key2': 'value2'}

In [30]:
dic['key1']  # key 값으로 value값 불러오기

'value1'

## part 2

In [1]:
1 > 2

False

In [2]:
1 < 5

True

In [3]:
1 >= 4

False

In [4]:
1 ==1

True

In [5]:
'a' =='a'

True

In [6]:
'A' =='a'

False

In [7]:
1!=2

True

In [8]:
if 1==1: 
    print("yea!")

yea!

In [12]:
if 1==2:
    print("worked!")
elif 3==3:
    print("second condition is True")
else:
    print("get out!")

second condition is True

In [13]:
seq = [1,2,3,4,5]

In [14]:
for item in seq:
    print(item)

1
2
3
4
5

In [16]:
for item in seq:
    print(item+item)  # 숫자간 연산도 가능

2
4
6
8
10

In [18]:
i = 1
while i < 5:
    print("i is {}".format(i))
    i+=1

i is 1
i is 2
i is 3
i is 4

In [21]:
x =[1,2,3,4,5]
y = list(range(1,6))  # range로 리스트 만드는 법
if x == y:
    print("x and y are the same!")

x and y are the same!

#### list comprehension

In [22]:
x = [1,2,3,4,5]
out = []

In [23]:
for num in x:
    out.append(num ** 2)  # x리스트에 있는 값들을 하나씩 제곱하여 out이라는 리스트 변수에 추가

print(out)

[1, 4, 9, 16, 25]

In [26]:
# list comprehension으로 만들기
out = [num **2 for num in x]
print(out)

[1, 4, 9, 16, 25]

## part3

### function definition

In [27]:
def my_func():
    print('hello')

In [28]:
my_func()

hello

In [29]:
type(my_func)

function

In [33]:
def my_func(name):
    print('hello ' + name)

In [34]:
my_func()  # 변수 name이 입력되지 않아 오류 발생

TypeError: my_func() missing 1 required positional argument: 'name'

In [36]:
my_func('Jose')  # 정상 작동

hello Jose

In [37]:
def my_func(name='Nothing'):  # name에 기본값을 설정하여, 변수가 없어도 실행되도록 함
    print('hello ' + name)

In [39]:
my_func('Jose')  # hello jose로 정상작동

hello Jose

In [41]:
my_func()  # 필수값임에도 입력을 안해도 디폴트 값이 들어가면서 작동

hello Nothing

In [44]:
def my_func(name='Nothing'):  # 콤마 3개를 활용해서 함수의 기능을 설명하며 저 내용은 docstring에서 확인 가능하게 됨
    '''
    This function give you the hello message with the name
    if you type nothing with required argument position, name would be 'Nothing'
    '''
    print('hello ' + name)

In [45]:
my_func()

hello Nothing

In [1]:
def square(x):
    return x ** 2  # return을 하게되면, 함수의 반환값을 변수에 저장하여 사용할 수 있음.

In [2]:
square(33)

1089

In [3]:
lambda var: var*2

In [4]:
st = 'hllo my name is Sam'

In [5]:
st.lower()

'hllo my name is sam'

In [6]:
st.split()

['hllo', 'my', 'name', 'is', 'Sam']

In [7]:
tweet = 'Hello #sports'

In [8]:
tweet.split()

['Hello', '#sports']

In [12]:
tweet.split('#')[-1]

'sports'

In [13]:
d ={
    'k1':'v1',
    'k2':'v2'
}

In [14]:
d.keys()  # dict의 키값을 보여줌

dict_keys(['k1', 'k2'])

In [15]:
d.items()  # dict의 키-밸류를 모두 보여줌

dict_items([('k1', 'v1'), ('k2', 'v2')])

In [17]:
d.values()  # dict의 밸류 값만 보여줌

dict_values(['v1', 'v2'])

In [18]:
mylist = [1,2,3]

In [19]:
mylist.pop()

3

In [20]:
mylist

[1, 2]

In [21]:
mylist = [1,2,3]

In [22]:
firts_value = mylist.pop(0)

In [23]:
mylist

[2, 3]

In [24]:
firts_value

1